.footer {
  .top-container {
    padding: 60px 120px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    flex-wrap: wrap;
    & > div {
      padding: 16px 0 16px 16px;
    }
    .logo {
      a {
        display: block;
        svg {
          height: 54px;
        }
      }
    }
    .link {
      padding: 4px;
      a {
        color: var(--grey-400);
        &:hover {
          color: var(--purple-dark);
        }
      }
    }
    .title {
      color: var(--grey-600);
      padding: 4px;
      font-size: 18px;
      font-weight: bold;
    }
    .download {
      margin-top: 18px;
      a {
        display: block;
        width: fit-content;
        height: fit-content;
        &:last-child {
          margin-top: 4px;
        }
      }
    }
  }
  .bottom-container {
    padding: 12px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: var(--grey-300);
    }
    .social {
      display: flex;
      padding: 8px;
      gap: 20px;
      a {
        display: block;
        svg path {
          fill: var(--grey-600);
        }
      }
      a:hover {
        svg path {
          fill: var(--purple-dark);
        }
      }
    }
    p {
      color: var(--grey-400);
    }
  }
}
