.op-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-100);
  border-radius: 4px;
  border: 0;
  padding: 0;
  color: var(--purple-blue);
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease;
  svg path {
    fill: var(--purple-blue);
  }
  &:hover {
    background-color: var(--purple-extra-light);
  }
  &:active {
    background-color: var(--purple-light);
  }
  &:focus-visible {
    background-color: var(--grey-100);
    border: 1px solid var(--purple-blue);
    outline: none;
  }
  &:disabled {
    background-color: var(--grey-100);
    color: var(--grey-300);
    cursor: not-allowed;
  }
}
