.class-info {
  padding: 32px 8px;
}
.title {
  display: flex;
  gap: 16px;
  color: var(--grey-600);
}
.selected {
  background: linear-gradient(
    180deg,
    rgba(92, 214, 192, 1) 0%,
    rgba(34, 195, 166, 1)
  );
  &.Economy {
    background: linear-gradient(
      180deg,
      rgba(96, 93, 236, 1) 0%,
      rgba(42, 38, 217, 1)
    );
  }
}
.description {
  color: var(--grey-400);
  font-size: var(--font-sm);
}
.divider {
  display: block;
  height: 4px;
  width: 32px;
  background-color: var(--purple-blue);
  opacity: 0.5;
  &.Business {
    background-color: var(--turquoise);
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pros {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  li {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--grey-600);
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      &.Business {
        svg path {
          stroke: var(--turquoise);
        }
      }
      &.Economy {
        svg circle {
          fill: var(--purple-blue);
        }
      }
    }
  }
}
