.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & > div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .name {
    color: var(--grey-600);
  }
  .value {
    color: var(--grey-600);
    font-size: 18px;
  }
}
